DASHBOARD_PUBLISH_PORT=9045
BOT_PROFILES_VISIBLE_IDS=extreme,hedger,indicators
RUNTIME_ENV_OVERRIDE_FILE=env/prod.runtime.env
RUNTIME_SECRETS_FILE=env/prod.runtime.secrets.env
EXCHANGE=binance
HOST_DATA_DIR=/opt/trading-bot-data
HOST_LOGS_DIR=/opt/trading-bot-logs
